.about {
    margin-top: 100px;
    margin-bottom: 100px;
        &__title {
            color: rgb(17, 38, 58);
            font-size: 36px;
            font-weight: 600;
            text-align: center;
            font-family: Rotonda;
            @media (max-width:500px) {
                font-size: 22px;
            }
        } 
        &__box {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            &_item {
                border-radius: 5px;
                background: #F2F6FA;
                padding: 33px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 18px;
                box-shadow: 0 0 3px 0 blue;
                &_year {
                    font-size: 24px;
                }
                &_name {
                    font-size: 24px;
                }
                &_title {
                    font-size: 40px;
                    font-family: Rotonda;
                }
                &_text {
                    text-align: center;
                }
            }
        }
}