@font-face {
    font-family: 'Rotonda';
    src: url('../../../public/fonts/Rotonda-Bold.ttf');
}
@font-face {
    font-family: 'Vag';
    src: url('../../../public/fonts/Vag.woff') format('woff');
}